<div class="services_main d-flex flex-column align-items-center justify-content-center">
    <div class="services_body d-flex flex-column align-items-center justify-content-center w-100">
        <div class="banner d-flex flex-column align-items-center justify-content-center  w-100 ">
            <div class="banner_content d-flex flex-column align-items-center justify-content-center w-65">
                <h1 class="heading-font font-50 fw-700">Our Services</h1>
                <p class="primary-grey font-18 fw-400 text-a-c">For us, nothing is more valuable than the vision and
                    values that guide your enterprise. All our
                    digital
                    marketing services are curated as per your needs. Climbing up the ladder is a process. We are here
                    to
                    make your journey an enriching experience.</p>
            </div>
            <img src="assests/images/start_blue.png" alt="star" class="extra-img" width="8%">
            <img src="assests/images/ball-img.png" alt="star" class="ball-img">
        </div>

        <div class="services_main_cards d-flex flex-column align-items-center justify-content-center gap-5 w-85 py-5">
            <div class="main_cards_list d-flex flex-column align-items-center justify-content-center gap-4">
                <p class="heading-font primary-blue font-50 fw-700 text-a-c">Branding and Design</p>
                <div class="main_cards_list_item branding_list">
                    <div class="card d-flex flex-column align-items-center justify-content-center gap-2"
                        *ngFor="let branding of brandingAndDesignCards">
                        <img [src]="branding.icon" alt="card-icon">
                        <div class="card_text d-flex flex-column align-items-center justify-content-center gap-2">
                            <p class="primary-blue font-24 fw-600">{{branding.name}}</p>
                            <span class="primary-grey font-16 fw-500 text-a-c">{{branding.desc}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_cards_list d-flex flex-column align-items-center justify-content-center gap-4 w-90">
                <p class="heading-font primary-blue font-50 fw-700 text-a-c">Development</p>
                <div class="main_cards_list_item two_column_list">
                    <div class="card d-flex flex-column align-items-center justify-content-center gap-2"
                        *ngFor="let development of developmentCards">
                        <img [src]="development.icon" alt="card-icon">
                        <div class="card_text d-flex flex-column align-items-center justify-content-center gap-2">
                            <p class="primary-blue font-24 fw-600">{{development.name}}</p>
                            <span class="primary-grey font-16 fw-500 text-a-c">{{development.desc}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_cards_list d-flex flex-column align-items-center justify-content-center gap-4 w-90">
                <p class="heading-font primary-blue font-50 fw-700 text-a-c">Content Creations</p>
                <div class="main_cards_list_item two_column_list">
                    <div class="card d-flex flex-column align-items-center justify-content-center gap-2"
                        *ngFor="let content of contentCreationCards">
                        <img [src]="content.icon" alt="card-icon">
                        <div class="card_text d-flex flex-column align-items-center justify-content-center gap-2">
                            <p class="primary-blue font-24 fw-600">{{content.name}}</p>
                            <span class="primary-grey font-16 fw-500 text-a-c">{{content.desc}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_cards_list d-flex flex-column align-items-center justify-content-center gap-4">
                <p class="heading-font primary-blue font-50 fw-700 text-a-c">Marketing</p>
                <div class="main_cards_list_item ">
                    <div class="card d-flex flex-column align-items-center justify-content-center gap-2"
                        *ngFor="let marketing of MarketingCards">
                        <img [src]="marketing.icon" alt="card-icon">
                        <div class="card_text d-flex flex-column align-items-center justify-content-center gap-2">
                            <p class="primary-blue font-24 fw-600">{{marketing.name}}</p>
                            <span class="primary-grey font-16 fw-500 text-a-c">{{marketing.desc}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <img src="../../../../public/assests/images/services/services_card13.webp" alt=""> -->