<div class="banner_main d-flex align-items-center justify-content-center secondary-white-bg">
    <div class="banner_body d-flex align-items-center justify-content-center w-80">
        <div class="banner_left d-flex flex-column gap-3 w-48">
            <div class="banner_left_head">
                <img src="assests/images/home/dm-img.png" alt="img" width="130px">
            </div>
            <div class="banner_left_title d-flex flex-column gap-3">
                <h1 class="primary-black font-60 fw-700">Creative ideas <img
                        src="assests/images/home/banner-inline-img.png" alt="profiles">
                    that will help your
                    brand soar.
                </h1>
                <p class="secondary-black font-16 fw-400 ">It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="banner_left_butn pt-3">
                <button class="primary-blue-bg primary-white font-15 fw-600 br-3 br-n p-2 px-3">Get Start Today</button>
            </div>
        </div>
        <div class="banner_right w-48">
            <img src="assests/images/home/banner-img1.png" alt="right-img" width="100%">
        </div>
    </div>
</div>





<!-- <div class="banner d-flex flex-column align-items-center justify-content-center ">
    <div class="banner_body d-flex flex-column align-items-center justify-content-center w-85">
        <div class="content d-flex flex-column align-items-center justify-content-center gap-4 text-a-c w-100">
            <img src="assests/images/banner-men-img.png" alt="men-width-social-media-icons" class="extra_img">
            <img src="assests/images/banner_plus.png" alt="plus-icons" class="plus_extra_img">

            <div class="banner_top_button br-6 p-1 px-2">
                <p class="primary-blue font-16 fw-500 ">Top #1 SEO & Marketing Agency</p>
            </div>
            <div class="heading d-flex align-items-center justify-content-center w-100">
                <h1 class="font-65 fw-600 w-75 text-a-c">
                    Drive Your Business Forward With Our Expert 
                    <img src="assests/images/header-pera1.png" alt="Image description" class="inline-img" />
                    <span class="primary-blue">Digital Marketing</span> Solutions
                </h1>
            </div>

            <div class="banner_top_sub_heading  d-flex align-items-center justify-content-center w-100">
                <p class="primary-grey font-16 fw-400 w-50">Welcome to SEOC where we specialize in revolutionizing your online
                    presence through expert SEO and digital marketing solutions.</p>
            </div>
        </div>
    </div>
</div> -->