<div class="banner d-flex flex-column align-items-center justify-content-center ">
    <div class="banner_body d-flex flex-column align-items-center justify-content-center w-85">
        <div class="content d-flex flex-column align-items-center justify-content-center gap-4 text-a-c w-100">
            <!-- <img src="assests/images/Promena_white.png" alt="img" width="10%">
            <h1 class="primary-white font-50 fw-600">Promena</h1> -->
            <img src="assests/images/banner-men-img.png" alt="men-width-social-media-icons" class="extra_img">
            <img src="assests/images/banner_plus.png" alt="plus-icons" class="plus_extra_img">

            <div class="banner_top_button br-6 p-1 px-2">
                <p class="primary-blue font-16 fw-500 ">Top #1 SEO & Marketing Agency</p>
            </div>
            <div class="heading d-flex align-items-center justify-content-center w-100">
                <h1 class="font-65 fw-600 w-70 text-a-c">
                    Drive Your Business Forward With Our Expert 
                    <img src="assests/images/header-pera1.png" alt="Image description" class="inline-img" />
                    <span class="primary-blue">Digital Marketing</span> Solutions
                </h1>
            </div>

            <div class="banner_top_sub_heading  d-flex align-items-center justify-content-center w-100">
                <p class="primary-grey font-16 fw-400 w-50">Welcome to SEOC where we specialize in revolutionizing your online
                    presence through expert SEO and digital marketing solutions.</p>
            </div>
        </div>
    </div>
</div>
