<div class="contact_main d-flex flex-column align-items-center justify-content-center py-5">
    <div class="contact_body d-flex flex-wrap align-items-center justify-content-between w-85 py-2">
        <div class="contact_left d-flex flex-column gap-4 w-45">
            <div class="contact_left_heading">
                <p class="font-45 fw-800">Can’t Wait?</p>
                <p class="font-45 fw-800">Don’t Wait.</p>
            </div>
            <div class="contact_left_text">
                <p class="primary-grey font-32 fw-300">All your marketing questions
                    are answered here.</p>
            </div>

        </div>
        <div class="contact_right d-flex flex-column gap-4 w-48">
            <h1 class="primary-blue font-24 fw-500">Contact Form</h1>

            <form class="d-flex flex-column align-items-center justify-content-center gap-4">
                <div class="form_group w-100">
                    <div class="form_field">
                        <input type="text" placeholder="Name" class="w-100 p-2">
                    </div>
                    <div class="form_field">
                        <input type="text" placeholder="Mobile" class="w-100 p-2">
                    </div>
                    <div class="form_field">
                        <input type="text" placeholder="Email" class="w-100 p-2">
                    </div>
                    <div class="form_field">
                        <input type="text" placeholder="Objective" class="w-100 p-2">
                    </div>
                    <div class="form_field">
                        <textarea rows="4" class="w-100 p-2" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="butn d-flex justify-content-start w-100">
                    <button class="gradient-blue-bg primary-white font-16 fw-600 br-3 br-n p-1 px-4">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>