.contact_left_heading{
    border-bottom: 4px solid black;
}
.contact_left_heading p , .contact_left_text p{
    line-height: 1;
}
.form_group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.form_field:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width:599px) {
    .contact_left{
        width: 100% !important;
    }
    .contact_right{
        width: 100% !important;
    }
    .form_group{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}