<div class="testimonial_main d-flex flex-column align-items-center justify-content-center">
    <div class="testimonial_body d-flex flex-column align-items-center justify-content-center w-85">
        <div class="upper_sec d-flex flex-column align-items-start justify-content-center gap-3 pt-4">
            <div class="upper_sec_title">
                <h1 class="primary-blue font-45 fw-700">The Perfectionist</h1>
            </div>
            <div class="upper_sec_list d-flex flex-column gap-2">
                <p class="primary-grey font-18 fw-500">a: A one-stop solution for all your digital marketing problems.</p>
                <p class="primary-grey font-18 fw-500">b: Where everything happens with a touch of perfection</p>
            </div>
            <div class="upper_sec_text">
                <p class="primary-grey font-18 fw-500">Our happy clients are excited to share their views with the world. Listen to what our clients have to
                    say about choosing The Perfectionist as their go-to digital agency.
                </p>
            </div>
        </div>
        <div class="lower_sec w-100 py-5">
            <div class="testimonials_main_cards">
                <div class="testimonial_card">
                    <img src="assests/images/test1.webp" alt="" width="100%">
                </div>
                <div class="testimonial_card">
                    <img src="assests/images/test1.webp" alt="" width="100%">
                </div>
                <div class="testimonial_card">
                    <img src="assests/images/test1.webp" alt="" width="100%">
                </div>
                <div class="testimonial_card">
                    <img src="assests/images/test1.webp" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>