<div class="solutions_main d-flex flex-column align-items-center justify-content-center secondary-white-bg py-5">
    <div class="solutions_body d-flex flex-wrap align-items-center justify-content-center w-80">
        <div class="solutions_left w-45 me-5">
            <h1 class="font-100 fw-700">Solutions</h1>
            <p class="font-24 fw-400">Creative, Customised Solutions for all
                Your Branding and Marketing Needs!</p>
        </div>
        <div class="solutions_right d-flex flex-column gap-4 w-48 ps-4">
            <div class="solutions_right_list d-flex flex-column gap-4">
                <p class="font-24 fw-600 cursor">Branding <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor">Website -App Design & Development <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor">Social Media Optimisation & Marketing <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor">Search Engine Optimisation & Marketing <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor">Print & Packaging Designs <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor">Photography & Videography <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor">Content Creation <i class="fa-solid fa-arrow-right"></i></p>
            </div>
            <div class="view_butn d-flex ">
                <button class="d-flex align-items-center gap-2 transparent-bg primary-blue font-16 fw-600 p-1 px-3 br-3">View More <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
