<div class="solutions_main d-flex flex-column align-items-center justify-content-center primary-white-bg">
    <div class="solutions_body d-flex flex-column align-items-center justify-content-center gap-5 w-80 ">
        <div class="solutions_heading d-flex flex-column align-items-center justify-content-center gap-4 text-a-c w-100">
            <div class="about_content_right_head d-flex primary-grey-bg br-30">
                <p class=" gradient-blue font-15 fw-700 p-2 px-4">SOLUTIONS</p>
            </div>
            <h1 class="font-45 fw-700 w-70">Trusted Experts In Comprehensive Digital Solutions</h1>
        </div>
        <div class="solutions_main_content d-flex align-items-start justify-content-between w-100">
            <div class="solutions_content_left d-flex flex-column w-48">
                <div *ngFor="let service of services" class="solutions_content_left_list d-flex align-items-center gap-3 py-3"
                    (mouseenter)="showButton(service.id)" (mouseleave)="hideButton(service.id)">
                    <img [src]="service.icon" alt="icon" width="35px">
                    <p class="primary-black font-20 fw-600 cursor">{{ service.name }}</p>
                    <button *ngIf="service.showButton" class="read-more-btn" (click)="navigateToService(service.id)">
                        Read More
                    </button>
                </div>
            </div>


            <div class="solutions_content_right d-flex flex-column gap-4 w-48">
                <img src="assests/images/home/solutions_img.png" alt="right-img" width="100%">
                <div class="solutions_content_right_text d-flex flex-column gap-5">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quos, labore incidunt ea
                        accusamus esse eum dicta ut corrupti quam consequatur autem soluta voluptates magni? Atque sequi
                        corporis consectetur nihil?
                    </p>
                    <div class="d-flex ">
                        <button class=" primary-blue-bg text-light font-16 fw-600 br-n br-3 p-2 px-4">Know More</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <div class="solutions_main d-flex flex-column align-items-center justify-content-center secondary-white-bg py-5">
    <div class="solutions_body d-flex flex-wrap align-items-center justify-content-center w-80">
        <div class="solutions_left w-45 me-5">
            <h1 class="font-50 fw-700">Solutions</h1>
            <p class="font-24 fw-400">Creative, Customised Solutions for all
                Your Branding and Marketing Needs!</p>
        </div>
        <div class="solutions_right d-flex flex-column gap-4 w-48 ps-4">
            <div class="solutions_right_list d-flex flex-column gap-4">
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Branding <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Website -App Design & Development <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Social Media Optimisation & Marketing <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Search Engine Optimisation & Marketing <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Print & Packaging Designs <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Photography & Videography <i class="fa-solid fa-arrow-right"></i></p>
                <p class="font-24 fw-600 cursor" [routerLink]="'/landing-page/services'">Content Creation <i class="fa-solid fa-arrow-right"></i></p>
            </div>
            <div class="view_butn d-flex ">
                <button class="d-flex align-items-center gap-2 transparent-bg primary-blue font-16 fw-600 p-1 px-3 br-3" [routerLink]="'/landing-page/services'">View More <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div> -->