<div class="ParallaxVideo d-flex flex-column align-items-center justify-content-center" #parallaxSection>
    <video autoplay muted loop #videoElement>
        <source src="assests/images/home/videoplayback.webm" type="video/mp4" />
        <!-- <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg" /> -->
    </video>
    <div class="text-content d-flex flex-column align-items-center justify-content-center gap-4">
        <h1 class="primary-white font-65 fw-700 w-60">Making Your Brand Stand Out Online.</h1>
        <p class="primary-white font-16 fw-400 w-45">Ultrices quam mattis posuere porttitor tellus rhoncus tristique.
            Primis aliquam dignissim interdum vel suscipit sodales.</p>
            <button class="primary-blue-bg primary-white font-16 fw-600 br-n br-3 p-2 px-4">Know More</button>
    </div>
</div>
























<!-- <div class="branding_main d-flex flex-column align-items-center justify-content-center py-5">
    <div class="branding_body d-flex flex-wrap align-items-start justify-content-between w-85 py-3">
        <div class="branding_left d-flex justify-content-end  w-32">
            <img src="assests/images/branding-img3.png" alt="left-img" width="85%" class="left-person-img">
            <img src="assests/images/start_blue.png" alt="star-img" class="star-img" width="30%">
        </div>
        <div class="branding_right d-flex flex-wrap justify-content-between gap-4 w-65">
            <div class="right_upper_sec">
                <img src="assests/images/home-sec-2 -circle-img.png" alt="circle" class="circle_img" width="30%">
               
            </div>
            <div
                class="branding_right_child1 d-flex flex-column align-items-center justify-content-start gap-4 w-48 ps-4">
                <div class="child1_text d-flex flex-column gap-3">
                    <h1 class="gradient-blue font-45 fw-800">Yours Branding Consultant</h1>
                    <p class="primary-grey font-24 fw-600">A Digital Marketing Agency With a Difference!</p>
                </div>
                <div class="child1_butn d-flex justify-content-start w-100">
                    <button
                        class="d-flex align-items-center gap-2 gradient-blue-bg primary-white br-n br-30 font-18 fw-600 p-2 px-4">Know
                        More <i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </div>
            <div class="branding_right_child2  w-45">
                <img src="assests/images/branding-img4.png" alt="left-img" width="75%" class="men-img">
                <img src="assests/images/solar-img.png" alt="" class="solar_img" width="75%">
            </div>

        </div>
    </div>
</div> -->