.ParallaxVideo {
    position: relative; /* Define the section boundary */
    height: 70vh; /* Full viewport height */
    overflow: hidden; /* Prevent video overflow */
  }

  .ParallaxVideo::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 25%); /* Black overlay with 50% opacity */
    z-index: 0; /* Position below the text but above the video */
  }
  
  .ParallaxVideo video {
    position: fixed; /* Keeps the video fixed in the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the viewport */
    z-index: -1; /* Keeps the video behind the text */
  }
  
  .text-content {
    position: relative;
    z-index: 2; /* Brings the text above the video */
    text-align: center;
    // line-height: 2rem;
    // animation: parallaxTextScroll 1s ease-in-out;
  }
  
 
  
  /* Optional Smooth Fade-in Effect */
//   @keyframes fadeIn {
//     from {
//       opacity: 0;
//       transform: translateY(20px);
//     }
//     to {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }
  
//   /* Parallax effect for the text */
//   @keyframes parallaxTextScroll {
//     0% {
//       transform: translateY(100%);
//     }
//     100% {
//       transform: translateY(0%);
//     }
//   }
  
  