<div class="branding_main d-flex flex-column align-items-center justify-content-center py-5">
    <div class="branding_body d-flex flex-wrap align-items-end justify-content-between w-85 py-3">
        <div class="branding_left d-flex justify-content-end  w-32">
            <img src="assests/images/branding-img3.png" alt="left-img" width="85%">
        </div>
        <div class="branding_right d-flex flex-wrap justify-content-between w-65">
            <div class="branding_right_child1 d-flex flex-column align-items-center justify-content-center gap-4 w-48 ps-4">
                <div class="child1_text d-flex flex-column gap-3">
                    <h1 class="gradient-blue font-45 fw-800">Yours Branding Consultant</h1>
                    <p class="primary-grey font-24 fw-600">A Digital Marketing Agency With a Difference!</p>
                </div>
                <div class="child1_butn d-flex justify-content-start w-100">
                    <button class="d-flex align-items-center gap-2 gradient-blue-bg primary-white br-n br-30 font-18 fw-600 p-2 px-4">Know More <i class="fa-solid fa-arrow-right"></i></button>
                </div>
               
            </div>
            <div class="branding_right_child2  w-45">
                <img src="assests/images/branding-img4.png" alt="left-img" width="75%">
            </div>
           
        </div>
    </div>
</div>



<!-- <div class="branding_main d-flex flex-column align-items-center justify-content-center">
    <div class="branding_body d-flex flex-column align-items-center justify-content-center secondary-white-bg w-100 ">
        <div class="branding_heading py-5">
            <p class="primary-grey font-36">It’s the <span class="primary-black">l<span class="rotate">i</span>ttle
                    th<span class="rotate">i</span>ngs</span> that set us apart!</p>
        </div>
        <div class="branding_content d-flex flex-wrap align-items-center justify-content-between  w-100">
            <div class="branding_content_left primary-white-bg w-60">
                <img src="assests/images/image.png" alt="left-img" width="70%" height="100%">
            </div>
            <div class="branding_content_right d-flex flex-column justify-content-between w-37">
                <div class="right_heading">
                    <h1 class="primary-grey font-50"><span class="secondary-white font-110">Yours</span> Branding
                        Consultant</h1>
                </div>
                <div class="right_text">
                    <p class="primary-blue font-40 text-a-e">A Digital Marketing
                        Agency With A Difference!</p>
                </div>
            </div>
        </div>
    </div>
</div> -->