.header{
    background-color: transparent;
    position: fixed;
    z-index: 2;
   
}
.header.scrolled {
    background: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.logo img{
    display: none;
}
.header.scrolled .logo img{
   display: flex;
}
.header.scrolled .icon i{
   color: var(--primary-blue) !important;
   border: 2px solid var(--primary-blue);
}
.icon i{
    border: 2px solid white;
    // border: 2px solid var(--primary-blue);
}