<div class="who_main d-flex flex-column align-items-center justify-content-center">
    <div class="who_body d-flex flex-column align-items-center justify-content-center">
        <div class="who_content d-flex flex-column gap-5 w-100">
            <div class="who_content_img">
            <img src="assests/images/who_img.webp" alt="img">
            <p class="primary-blue who_content_text font-22 fw-400 text-a-e w-55 pe-3">Turning brands into cross-cultural assets with the right blend of free-spirited creativity and rational thinking!</p>
            </div>
            <div class="read_button d-flex justify-content-end pt-4">
                <button class="d-flex align-items-center gap-2 transparent-bg font-16 fw-600 br-3 p-1 px-3" [routerLink]="'/landing-page/about'">Read More <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
