.who_main{
    background-color: rgb(64 139 255 / 10%);
    padding: 110px 0;
}
.who_content_img{
    position: relative;
}
.who_content_text{
    position: absolute;
    right: 0;
    bottom: -50px;
}
.read_button button{
    border: 1px solid black;
}