<div class="portfolio_main d-flex flex-column align-items-center justify-content-center">
    <div class="portfolio_body d-flex flex-column align-items-center justify-content-center w-100">
        <div class="portfolio_card w-60">
            <div class="portfolio_left w-48">
                <form class="w-100">
                    <h1>Login</h1>
                    <div class="form_group">
                        <div class="form_field">
                            <input type="text" placeholder="Username or Email">
                        </div>
                        <div class="form_field">
                            <input type="text" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="portfolio_right w-48">
                
            </div>
        </div>
    </div>
</div>
