.banner{
    background-image: url(../../../../public/assests/images/services/inner-page-banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.ball-img{
    position: absolute;
    left: 0px;
    top: 150px;
    animation: bounce 5s infinite;
}
.extra-img{
    position: absolute;
    right: 60px;
    top: 60px;
    animation: rotate 15s linear infinite;
}
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:599px) {
    .contact_main_content{
        align-items: center !important;
        justify-content: center !important;
    }
    .contact_left{
        width: 100% !important;
    }
    .contact_right{
        width: 90% !important;
    }
}